<div xmlns:th="http://www.w3.org/1999/xhtml">
    <div th:fragment="header">
        <nav class="navbar navbar-expand-lg navbar-light bg-light" style="padding-left: 5%;padding-right: 5%">
            <a class="navbar-brand" href="/"><h1>TODO</h1></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <!--<li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Dropdown
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">Disabled</a>
                    </li>-->
                </ul>
                <div class="form-inline my-2 my-lg-0" th:if="${isLoggedIn} == false">
                    <button class="btn btn-outline-success my-2 my-sm-0" onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Login</button>
                    <button class="btn btn-outline-success my-2 my-sm-0" onclick="document.getElementById('id02').style.display='block'" style="width:auto;">SignUp</button>
                </div>
                <div class="form-inline my-2 my-lg-0" th:unless="${isLoggedIn} == false">
                    <a class="btn btn-outline-success my-2 my-sm-0" th:href="@{logout}">Logout</a>
                </div>
            </div>
        </nav>
    </div>
    <div th:fragment="footer" class="card-footer text-center bottom" style="position: absolute; bottom: 0px; width: 100%">
        <footer>
            <d3>@Copyright 2019 Vineet Chaudhary TTN</d3>
        </footer>
    </div>
</div>